<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Düzenle</title>
  <link rel="stylesheet" href="/css/form.css">
  <script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
</head>

<body>
  {{> header}}
  <div class="container">
    <h1>Haber Düzenle</h1>
    <form action="/update" method="POST" id="create-news-form" >

      <input type="hidden" name="id" value="{{news.id}}">
      <label for="title">Başlık:</label>
      <input type="text" id="title" name="title" value="{{news.title}}">
      <label for="category">Dil:</label>
      <select id="category" name="lang">
        <option value="tr" {{#if (compare news.lang 'tr')}} selected {{/if}}>Türkçe</option>
        <option value="en" {{#if (compare news.lang 'en')}} selected {{/if}}>English</option>
        <option value="es" {{#if (compare news.lang 'es')}} selected {{/if}}>Español</option>
      </select>


      <label for="content">İçerik:</label>
      <textarea id="content" name="description">{{news.description}}</textarea>
        <label for="title">Resim:</label>
      <input type="file" id="title" name="image">
      <button type="submit" id="submit-news-btn">Güncelle</button>
      
    </form>

   
    <div id="alert-container"></div>

  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="/js/ajax.js"></script>
  <script>
    ClassicEditor
      .create(document.querySelector('#content'))
      .catch(error => {
        console.error(error);
      });
  </script>
</body>

</html>