<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Create News</title>
  <link rel="stylesheet" href="/css/form.css">
  <script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
</head>

<body>
  {{> header}}
  <div class="container">
    <h1>Haber Ekle</h1>
    <form action="/save" method="POST" id="create-news-form" enctype="multipart/form-data">
      <label for="title">Başlık:</label>
      <input type="text" id="title" name="title">
      <label for="category">Dil:</label>
      <select id="category" name="lang">
        <option value="tr">Türkçe</option>
        <option value="en">English</option>
        <option value="es">Espanol</option>
      </select>
      <label for="content">İçerik:</label>
      <textarea id="content" name="description"></textarea>
        <label for="title">Resim:</label>
      <input type="file" id="title" name="image">
      <button type="submit" id="submit-news-btn">Kaydet</button>
    </form>
    <div id="alert-container"></div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="/js/ajax.js"></script>
  <script>
    ClassicEditor
      .create(document.querySelector('#content'))
      .catch(error => {
        console.error(error);
      });
  </script>
</body>

</html>